body {
    font-family: 'Jost';
    
}

h4 {
    margin-bottom: 0;
    color: green;
}

p{
    color: #727272;
    margin-top: 5px;
    font-size: 15px;
}

span{
    font-size: 13px;
    color: #525252;
}

@media (max-width: 768px) {
    body {
        margin: 0;
    }
}